@model CinemaCore.Models.Staffs

@{
    ViewData["Title"] = "Детали";
}

<div class="row">
    <h3>Подробности о сотруднике</h3>
    <hr />
    <div class="col-md-4">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Surname):</b> @Html.DisplayFor(model => model.Surname)
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.MiddleName):</b> @Html.DisplayFor(model => model.MiddleName)
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.Post):</b> @Html.DisplayFor(model => model.Post)
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.WorkExperience):</b> @Html.DisplayFor(model => model.WorkExperience)
        </div>
    </div>
     <form asp-action="Edit" asp-controller="Staffs">
        <div class="form-floating mb-3"></div>
        <div class="form-floating">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Редактировать запись</a> 
            <a class="btn btn-primary" asp-action="Index">Назад</a>
        </div>
    </form>
</div>
