@model FilmProductionViewModel

@{
    ViewData["Title"] = "Компании-производители";
    string Name = Model.ProductionName;
    string FieldName = "ProductionName";
}

<h1>
    Компании-производители
</h1>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>

@using (Html.BeginForm("Index", "FilmProductions", FormMethod.Get))
{
    <fieldset>
        Поиск по названию: @Html.TextBox("ProductionName", "")
        <input type="submit" value="Поиск" />
        <input class='button' type='reset' value="Сбросить">
    </fieldset>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-SortOrder="@Model.SortViewModel.CurrentState" asp-route-FieldName="ProductionName" asp-route-OldFieldName="ProductionName" asp-route-ProductionName="@Name">
                    @Html.DisplayNameFor(model => model.ProductionName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilmProductions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-ProductionName="@Name"
           page-url-OldFieldName="@FieldName"
           page-url-SortOrder="@(Model.SortViewModel.CurrentState)"></page-link>
